*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: darkorange;
}

#blankUp
{
    height: 20vh;
}

.card
{
    margin: auto;
}

.card-body
{
    text-align: center;
}

ul
{
    list-style: none;
    font-size: 1.3em;
}

li
{
    font-family: 'Galada', cursive;
}

li:hover
{
    background: lightgreen;
    cursor: pointer;
    border-radius: 25px;
}
a
{
    margin: 5px;
}

.selected
{
    background-color: lightgreen;
    border-radius: 25px;
}